@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--Very-light-gray);
  color: var(--Transparent-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
}

.main-cont {
  width: 300px;
  margin: 10px 15px;
}

.item {
  width: 100%;
  height: 400px;
  padding: 30px 40px;
  /* margin-bottom: 10px; */
  /* border-radius: 15px ; */
  /* border: 1px solid red; */
}
.orange-bg {
  background-color: var(--Bright-orange);
  border-radius: 10px 10px 0 0;
}
.blue-bg {
  background-color: var(--Dark-cyan);
}
.green-bg {
  background-color: var(--Very-dark-cyan);
  border-radius: 0px 0px 10px 10px;
}
button {
  display: block;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  margin: 90px 0 0 0;
}
.heading {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
}
.heading ~ p {
  font-family: "Lexend Deca", sans-serif;
}
.blue-bg button {
  color: var(--Dark-cyan);
}
.green-bg button {
  color: var(--Very-dark-cyan);
}
.orange-bg button {
  color: var(--Bright-orange);
  font-family: "Lexend Deca", sans-serif;
}
.marginbottom {
  margin-bottom: 20px;
}

@media only screen and (min-width: 700px) {
  body {
    justify-content: center;
  }
  .main-cont {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  button {
    margin: 10px 0px;
  }
  .green-bg p {
    padding-bottom: 6px;
  }
  .green-bg .marginbottom {
    margin-bottom: 6px;
    margin-top: 6px;
  }
  .orange-bg {
    border-radius: 10px 0px 0 10px;
  }

  .green-bg {
    border-radius: 0px 10px 10px 0px;
  }

  button:hover {
    cursor: pointer;
    color: var(--Very-light-gray);
    background-color: inherit;
    border: 2px solid #fff;
  }
}
